In [3]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)
    
print(quicksort([3,6,8,10,1,2,1]))
# Prints "[1, 1, 2, 3, 6, 8, 10]"

[1, 1, 2, 3, 6, 8, 10]

#### Variable

Tidak perlu deklarasi tipe data

In [5]:
print('Hello World!')

Hello World!

In [13]:
n = 10
print(type(n))
print(n)

<class 'int'>
10

In [12]:
n = 10.5
print(type(n))
print(n)

<class 'float'>
10.5

In [11]:
n = "Hai"
print(type(n))
print(n)

<class 'str'>
Hai

#### Operasi Aritmatika

In [12]:
n = 10
print("n + 5 = {0}".format(n + 5))
print("n - 5 = {0}".format(n - 5))
print("n * 5 = {0}".format(n * 5))
print("n ** 5 = {0}".format(n ** 5))
m = n // 2
print("{1} div 2 = {0}".format(m, n))

n + 5 = 15
n - 5 = 5
n * 5 = 50
n ** 5 = 100000
10 div 2 = 5

In [9]:
def luas(panjang, lebar):
    luas = panjang * lebar
    return luas

In [10]:
luas(10, 12)

120

In [11]:
print "ASs"

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-11-8b2b133044da>, line 1)

## aselole

ini bukan catatan

tapi...

- ini adalah cacatan

In [30]:
a = 10
if a < 10:
    print("kurang")
elif a == 5:
    print("tengah")
else:
    print("lainnya")

lainnya

## Looping

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
i = 1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

## Array

Array di python berbentuk LIST

In [22]:
l = [0, 1, 2, 3, 4, 5]

In [23]:
l

[0, 1, 2, 3, 4, 5]

untuk perhitungan matematis gunakan ARRAY dengan import numpy

In [25]:
import numpy as np

np.array([0, 1, 2, 3, 4, 5])

array([0, 1, 2, 3, 4, 5])

## List

In [48]:
li = [1, 2, 3, 4, "lima"]

In [49]:
li

[1, 2, 3, 4, 'lima']

In [50]:
li[1] = 10

In [51]:
li

[1, 10, 3, 4, 'lima']

## Tuple
note: immutable

In [39]:
tu = (1, 2, 3, 4, 5)

In [40]:
tu

(1, 2, 3, 4, 5)

In [44]:
tu[1] = 10

TypeError: 'tuple' object does not support item assignment

## Set
note: immutble

In [35]:
se = {1, 2, 3, 4, "lima", 1}

In [36]:
se

{1, 2, 3, 4, 'lima'}

In [45]:
se[1] = 10

TypeError: 'set' object does not support item assignment

## Dictionary
note: key-valued pair

In [37]:
di = {1: "satu",
      2: "dua",
      3: "tiga",
      4: "empat",
      "lima": 5}

In [38]:
di

{1: 'satu', 2: 'dua', 3: 'tiga', 4: 'empat', 'lima': 5}

In [46]:
di[0] = "coba"

In [47]:
di

{1: 'satu', 2: 'dua', 3: 'tiga', 4: 'empat', 'lima': 5, 0: 'coba'}

## Mencari elemen
note:
- list dan tuple sequential (O(n))
- set dan dictionary hash (O(1))

In [52]:
"lima" in li

True